<domain type='kvm'>
  <name>{{ vm.name }}</name>
  <memory unit='KiB'>{{ vm.memory_mb | int * 1024 }}</memory>
  <currentMemory unit='KiB'>{{ vm.memory_mb | int * 1024 }}</currentMemory>
  <vcpu placement='static'>{{ vm.vcpus }}</vcpu>
  <os>
    <type arch='{{ vm.arch | default(vm_default_arch) }}'>hvm</type>
{% set _firmware = vm.firmware if vm.firmware | default('') | length > 0 else vm_default_firmware_linux %}
{% set _storage = vm.storage_dir if vm.storage_dir | default('') | length > 0 else vm_images_dir %}
{% if _firmware == 'efi' %}
    <loader readonly='yes' type='pflash'>{{ ovmf_code_linux | default(ovmf_code) }}</loader>
    <nvram template='{{ ovmf_vars_linux | default(ovmf_vars) }}'>{{ _storage }}/{{ vm.name }}-OVMF_VARS.fd</nvram>
{% endif %}
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cpu mode='host-passthrough' check='none' migratable='on'>
    <topology sockets='1' dies='1' cores='{{ vm.vcpus }}' threads='1'/>
  </cpu>
  <clock offset='{{ vm.clock_offset | default(vm_default_clock_offset_linux) }}'>
    <timer name='rtc' tickpolicy='catchup'/>
    <timer name='pit' tickpolicy='delay'/>
    <timer name='hpet' present='no'/>
  </clock>
  <on_poweroff>{{ vm.poweroff_action | default(vm_default_poweroff_action) }}</on_poweroff>
  <on_reboot>{{ vm.reboot_action | default(vm_default_reboot_action) }}</on_reboot>
  <on_crash>{{ vm.crash_action | default(vm_default_crash_action) }}</on_crash>
  <pm>
    <suspend-to-mem enabled='no'/>
    <suspend-to-disk enabled='no'/>
  </pm>
  <devices>
    <emulator>{{ qemu_emulator }}</emulator>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' cache='none' io='native'/>
      <source file='{{ _storage }}/{{ vm.name }}.qcow2'/>
      <target dev='vda' bus='virtio'/>
      <boot order='1'/>
    </disk>
{% if vm.data_disk_gb is defined and vm.data_disk_gb | int > 0 %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' cache='none' io='native'/>
      <source file='{{ _storage }}/{{ vm.name }}-data.qcow2'/>
      <target dev='vdb' bus='virtio'/>
    </disk>
{% endif %}
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{ _storage }}/{{ vm.name }}-seed.iso'/>
      <target dev='hdc' bus='ide'/>
      <readonly/>
    </disk>
    <interface type='bridge'>
      <mac address='{{ vm.mac }}'/>
      <source bridge='{{ vm.bridge }}'/>
      <model type='{{ vm.nic_model | default(vm_default_nic_model) }}'/>
    </interface>
    <serial type='pty'>
      <target type='isa-serial' port='0'/>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
    <graphics type='vnc' autoport='yes' listen='127.0.0.1'/>
    <video>
      <model type='cirrus' vram='16384' heads='1'/>
    </video>
    <memballoon model='virtio'/>
    <rng model='virtio'>
      <backend model='random'>/dev/urandom</backend>
    </rng>
  </devices>
</domain>
