version: 2
ethernets:
  {{ vm.nic_name | default('ens3', true) }}:
{% if vm.nic_name is defined and vm.nic_name | length > 0 %}
    match:
      macaddress: "{{ vm.mac }}"
    set-name: {{ vm.nic_name }}
{% endif %}
    addresses:
      - {{ vm.ip }}/{{ vm.netmask | default('22') }}
    routes:
      - to: default
        via: {{ vm.gateway }}
    nameservers:
      addresses:
{% for ns in vm.dns.split(',') %}
        - {{ ns | trim }}
{% endfor %}
